{% extends 'base1.html' %}
{% load static %}


{% block content %}
<section class="register-section">

    <div class="register-card">

        <div class="register-header">

            <h1>Create Account</h1>

            <p>
                Join BlogSpace and start sharing your ideas with the world.
            </p>

        </div>

        <form action="{% url 'users:register' %}"  method="post" >
            {% csrf_token %}

            <div class="form-group">
                <label>Username</label>



                    {{ form.username}}

            </div>

            <div class="form-group">
                <label>Email</label>


                    {{ form.email }}

            </div>

            <div class="form-group">
                <label>Password</label>


                        {{form.password1}}
            </div>

            <div class="form-group">
                <label>Confirm Password</label>


    {{ form.password2}}

            </div>

            <button type="submit" class="register-btn">
                Create Account
            </button>

        </form>

        <div class="register-footer">

            <p>
                Already have an account?
                <a href="{% url 'users:login' %}">Sign In</a>
            </p>

        </div>

    </div>

</section>

{% endblock %}